<a class="btn btn-success" href="/posts/new">Create new post</a>

<% @posts.each do |post| %>
<div class="panel panel-default" style="margin-top:20px">
  <div class="panel-body" id="post_<%= post.title.downcase.tr(" ", "_") %>">
    <h2>
      <a href="/posts/<%= post.id %>"><%= post.title %></a>
    </h2>
    Length: <%= post.number_of_characters %>
    <a href="/posts/<%= post.id %>/edit">Edit</a>
  </div>
</div>
<% end %>
